.light-theme-background-color {
  &__base-alt {
    background-color: var(--tui-background-base-alt);
  }
  &__white {
    background-color: var(--tui-background-base);
  }
}

.summary  {
  display: flex;
  justify-content: center;
  padding: 40px 0 40px;
  min-width: 320px;
  box-sizing: border-box;
}

.content {
  display: grid;
  grid-auto-flow: row;
  grid-template-columns: minmax(120px, 230px) 1fr;
  gap: 0 40px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.rating {
  max-width: 230px;
  box-sizing: border-box;

  &__icons {
    &-icon {
      font-size: 36px;
      color: var(--tui-text-positive);
    }
  }

  &__score {
    font-size: 40px;
    font-weight: 900;
  }

  &__description {
    &-text {
      font-size: 20px;
      font-weight: 500;
      line-height: 30px;
    }
  }

  &__link {
    line-height: 36px;
  }

  &__link:hover {
    opacity: .8;
  }
}

.reviews {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(200px, 450px));
  grid-auto-rows: min-content;
  justify-content: center;
  gap: 30px;
  box-sizing: border-box;
  width: 100%;
}

.review {
  border-radius: 10px;
  padding: 32px;
  box-sizing: border-box;
  width: 100%;

  &__name {
    font-size: 16px;
    line-height: 1.55;
    font-weight: 700;
    text-align: center;
  }

  &__title {
    color: var(--tui-text-secondary);
    font-size: 14px;
    line-height: 1.55;
    font-weight: 400;
    text-align: center;
  }

  &__text {
    font-size: 15px;
    line-height: 1.55;
    font-weight: 400;
    text-align: center;
    padding-top: 1rem;
  }
}

@media screen and (max-width: 950px) {
  .summary {
    padding: 20px 0 40px;
  }
}

@media screen and (max-width: 700px) {
  .content {
    grid-template-columns: 1fr;
    gap: 20px 0;
  }

  .rating {
    &__icons {
      &-icon {
        font-size: 28px;
      }
    }

    &__score {
      font-size: 30px;
    }

    &__description {
      &-text {
        font-size: 16px;
        line-height: 16px;
      }
    }
  }

  .reviews {
    gap: 16px;
  }

  .review {
    padding: 16px;
  }
}
