<section
  class="summary"
  [ngClass]="{
    'light-theme-background-color__base-alt': !(darkMode() === true),
  }"
>
  <div class="content">
    <div class="rating">
      <div class="rating__icons">
        <tui-icon class="rating__icons-icon" icon="@tui.star"></tui-icon>
        <tui-icon class="rating__icons-icon" icon="@tui.star"></tui-icon>
        <tui-icon class="rating__icons-icon" icon="@tui.star"></tui-icon>
        <tui-icon class="rating__icons-icon" icon="@tui.star"></tui-icon>
        <tui-icon class="rating__icons-icon" icon="@tui.star"></tui-icon>
      </div>
      <div class="rating__score">
        <h2>5,00</h2>
      </div>
      <div class="rating__description">
        <p class="rating__description-text">
          {{ 'summary.text' | translate }}
          <span class="rating__link-container"
            ><a
              class="rating__link"
              tuiLink
              [style.color]="'var(--tui-text-positive)'"
              href="https://www.nachhilfeunterricht.de/lehrer/marina-filiptsova.htm"
              target="_blank"
              >Nachhilfeunterrich</a
            ></span
          >
        </p>
      </div>
    </div>
  </div>
</section>

<ng-template #reviewTemplate let-review>
  <div
    class="review"
    [ngClass]="{
      'light-theme-background-color__white': !(darkMode() === true),
    }"
  >
    <h1 class="review__name">{{ review.name }}</h1>
    <h2 class="review__title">{{ review.title }}</h2>
    <h3 class="review__text">{{ review.text }}</h3>
  </div>
</ng-template>
