<section
  class="contacts"
  [ngClass]="{
    'white-theme-background-color': !(darkMode() === true),
  }"
>
  <div class="content">
    <p class="text">Для связи</p>
    <h2 class="title">marinafil.msu&#64;gmail.com</h2>
    <h3 class="sub-title">Филипцова Марина Александровна</h3>
  </div>

  <ul class="links" role="list" aria-label="Social media links">
    <li class="link-container" tuiHint="Telegram">
      <a
        class="link"
        href="https://t.me/emigranda_school"
        target="_blank"
        rel="nofollow noopener"
        aria-label="Telegram"
      >
        <tui-icon
          icon="@tui.send"
          [style.color]="'var(--tui-chart-categorical-02)'"
          [style.font-size.rem]="4"
        ></tui-icon>
      </a>
    </li>
    <li class="link-container" tuiHint="Instagram">
      <a
        class="link"
        href="https://www.instagram.com/marina_filiptsova?igsh=dmhtNHFoaXk3d3Jx"
        target="_blank"
        rel="nofollow noopener"
        aria-label="Instagram"
      >
        <tui-icon icon="@tui.instagram" [style.color]="'var(--tui-text-negative)'" [style.font-size.rem]="4"></tui-icon>
      </a>
    </li>
    <li class="link-container" tuiHint="Facebook">
      <a
        class="link"
        href="https://www.facebook.com/profile.php?id=61575024585192"
        target="_blank"
        rel="nofollow noopener"
        aria-label="Facebook"
      >
        <tui-icon
          icon="@tui.facebook"
          [style.color]="'var(--tui-text-action-hover)'"
          [style.font-size.rem]="4"
        ></tui-icon>
      </a>
    </li>
  </ul>
</section>
