.white-theme-background-color {
  background-color: var(--tui-background-base-alt);
}

.time {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px 0;
  min-width: 320px;
  box-sizing: border-box;
}

.content {
  max-width: 1200px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  box-sizing: border-box;
  padding: 120px 0;
  text-align: center;
}

.text {
  font: var(--tui-font-text-m);
  text-transform: uppercase;
  font-weight: 600;
}

.title {
  font: var(--tui-font-heading-2);
  padding: 60px 0 40px;
  font-weight: 600;
}

.subtitle {
  font: var(--tui-font-heading-4);
  font-weight: 300;
}

@media screen and (max-width: 950px) {
  .content {
    padding: 80px 0;
  }

  .text {
    font: var(--tui-font-text-m);
    font-weight: 600;
  }

  .title {
    font: var(--tui-font-heading-3);
    font-weight: 600;
    padding: 40px 0 30px;
  }

  .subtitle {
    font: var(--tui-font-heading-5);
    font-weight: 300;
  }
}

@media screen and (max-width: 700px) {
  .content {
    padding: 60px 0;
  }

  .text {
    font: var(--tui-font-text-s);
    font-weight: 600;
  }

  .title {
    font: var(--tui-font-heading-4);
    font-weight: 600;
  }

  .subtitle {
    font: var(--tui-font-heading-6);
    font-weight: 300;
  }
}
