<section class="about">
  <div class="content">

    <div class="paragraph">
      <div class="text-container">
        <h2 class="text-container__heading">Филипцова Марина Александровна</h2>
        <h3 class="text-container__subheading">Профессиональный репетитор русского языка и литературы с опытом 16+ лет, выпускница филфака МГУ (2009), топ-20 в Москве</h3>
        <div>
          <p class="text-container__text">Мои выпускники уже много лет успешно побеждают в олимпиадах, сдают ЕГЭ на высокие баллы и поступают в лучшие учебные заведения самого разного профиля в России и за рубежом</p>
          <p class="text-container__text">Более 15 лет мои выпускники успешно проходят олимпиады по литературе и русскому языку, уверенно сдают экзамены и ДВИ и поступают на факультет журналистики и филологический факультет моего родного вуза. Это предмет моей особой гордости</p>
          <p class="text-container__text">За годы работы мои выпускники поступили в вузы Москвы по всем возможным профилям (МГУ, ВШЭ, МГИМО, МГТУ им. Баумана и др.); в творческие вузы (ВГИК, ГИТИС, ГИТР и др.); во множество вузов в разных городах России (Санкт-Петербург, Екатеринбург, Челябинск, Новосибирск и др.); в зарубежные университеты множества стран (Южная Корея, Чехия, Германия, США, Китай и др.)</p>
          <p class="text-container__text">
            На своём многолетнем опыте я точно убедилась: всё возможно, если цели чётко поставлены и ученик готов их добиваться упорным трудом. Детали по баллам и поступлению каждого года я публикую в своём канале в Телеграме
            <span><a tuiLink href="https://t.me/marinastrait"> канале в Телеграме&nbsp;<tui-icon icon="@tui.message-circle" [style.font-size.px]="15"></tui-icon></a></span>
          </p>
        </div>
      </div>
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-1.png" alt="Изображение преподавателя">
      </div>
    </div>

    <div class="paragraph">
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-2.jpg" alt="Изображение преподавателя">
      </div>
      <div class="text-container">
        <p class="text-container__text">Уже много лет мы с моими учениками и выпускниками хотя бы раз в год ходим в театр на постановки по русской классике для закрепления материала и встреч вне учебной обстановки. Это встречи выпускников и одновременно возможность для будущих абитуриентов познакомиться с опытом тех, кто уже стал студентом или даже окончил вуз.</p>
        <p class="text-container__text">Автор концепции и создатель магазина литературных вещей «НяшКульт»;
          автор, идеолог и организатор сезонных литературно-музыкальных вечеров Nyashkult Event Productions.
          Автор, издатель и редактор двух сборников рассказов: «Бремя удивительных историй» и «Зимняя книга».
          Основательница популярных тематических групп и каналов «Граммар Няши», «Разговоры за литературу» и «Философия улиц».</p>
        <p class="text-container__text">Некоторое время назад вышло два интервью со мной: деловое про ЕГЭ для портала ДК.ру и более неформальное о рабочем процессе и жизни для портала о профессиях "Рабдно".</p>
        <p class="text-container__text">В 2022 году вышло два интервью со мной: советы школьникам для подготовки к итоговому сочинению на портале Edu.ru и интервью журналу Forbes Woman о женских образах в русской литературе. В 2023 году я дала обширный комментарий о подготовке к ЕГЭ для АиФ.</p>
      </div>
    </div>

  </div>
</section>
