.about {
  border: 2px red dashed;
  display: flex;
  justify-content: center;
  padding: 40px 20px 80px;
  box-sizing: border-box;
}

.content {
  border: 1px red solid;
  display: flex;
  flex-direction: column;
  gap: 75px;

  width: 100%;
  max-width: 1200px;
  min-width: 320px;
  min-height: 128px;
  box-sizing: border-box;
}

.paragraph {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 0 30px;
}

.text-container {
  width: 100%;

  &__heading {
    font: var(--tui-font-heading-5);
    padding-bottom: 8px;
  }

  &__subheading {
    font: var(--tui-font-text-m);
    color: var(--tui-text-secondary);
    padding-bottom: 28px;
  }

  &__text {
    font: var(--tui-font-text-l);
    padding-top: 28px;
  }
}

.photo-container {
  width: 100%;

  &__photo {
    width: 100%;
  }
}

@media screen and (max-width: 950px) {
  .about {
    padding: 20px 20px 40px;
  }

}

@media screen and (max-width: 700px) {

}
