<section class="about">
  <div class="content">
    <div class="paragraph">
      <div class="text-container">
        <h2 class="text-container__heading">Филипцова Марина Александровна</h2>
        <div>
          <p class="text-container__text">
            ✨ Привет! Я Марина Филипцова, создательница проекта Emigranda. По образованию я филолог и преподаватель
            немецкого языка, закончила филологический факультет МГУ им. М.В. Ломоносова. Обожаю учиться и учить новому и
            постоянно повышаю свою квалификацию
          </p>
          <p class="text-container__text">
            📚 Половину жизни я проработала в найме (официально — с 18 лет), но всегда вела свои небольшие проекты:
            репетиторство, журналистику, вокал…
          </p>
          <p class="text-container__text">
            🎓 Преподавала немецкий в одном из лучших вузов России, но быстро поняла: на жизнь этого не очень хватает.
            Так я попала в мир проектного менеджмента и HR. Заодно срочно пришлось вспомнить забытый английский 😅
          </p>
          <p class="text-container__text">
            🌍 А потом — ковид, неожиданное предложение из немецкого вуза, чемодан, шестилетний сын под мышкой — и вот
            мы уже в Германии. Пришлось теперь вспоминать забытый за время работы в администрировании немецкий 🙈😁
          </p>
          <p class="text-container__text">
            💼 И снова я преподаю в вузе, но уже за границей. И снова мизерная зарплата… Но я не сдалась: получила
            коуч-сертификат, прокачала скиллы, вышла из найма и начала строить карьеру на своих условиях
          </p>
          <p class="text-container__text">
            👩‍🏫 Сегодня я: — преподаю немецкий как иностранный на интеграционных курсах, веду Berufssprachkurse (немецкий
            для работы) и собственные авторские онлайн-курсы — провожу тренинги и консультации по обучению и работе в
            Германии, — сотрудничаю с Dekra, Integra, Bildungswelt, Tertia, Akira-Coaching и другими школами
          </p>
          <p class="text-container__text">
            🌱 Мои ученики и друзья так верили в меня, что уговорили создать школу. Так появилась Emigranda. Здесь я не
            только учу языку, но и помогаю людям найти свой путь и внутреннюю силу
          </p>
          <p class="text-container__text">
            Если ты теряешься в новой стране, боишься начинать или хочешь учить немецкий — напиши мне. Мы вместе найдём
            решение. Главное — начать 💫
          </p>
        </div>
      </div>
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-2.jpg" alt="Изображение преподавателя" />
      </div>
    </div>

    <div class="paragraph">
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-3.jpg" alt="Изображение преподавателя" />
      </div>
      <div class="text-container">
        <p class="text-container__text">Хочу немного рассказать о моей школе Emigranda🌿</p>
        <p class="text-container__text">
          По правде говоря, Emigranda — это не просто языковая школа. Это пространство роста, поддержки, новых начинаний
          и внутренней силы
        </p>
        <p class="text-container__text">
          Мы рядом с тобой на каждом этапе пути — когда ты переезжаешь в новую страну, ищешь работу, строишь карьеру,
          учишься, развиваешься, меняешь свою личную жизнь или просто хочешь почувствовать себя увереннее
        </p>
        <p class="text-container__text">
          В тёплой и безопасной атмосфере ты раскрываешь свои ресурсы, влюбляешься в немецкий язык и получаешь
          индивидуальную поддержку — именно там, где тебе это действительно нужно
        </p>
        <p class="text-container__text">
          Мои методы преподавания и коучинга родились не из учебников, а из самой жизни. Это результат моего
          собственного пути, многолетнего опыта, постоянного обучения и сотен историй моих учеников со всего мира🌎
        </p>
        <p class="text-container__text">
          В нашем онлайн-пространстве и на живых воркшопах ты используешь своё время с максимальной пользой — твои
          навыки растут уже в процессе занятия, и тебе больше не нужно зубрить в одиночку после урока. Так работает
          методика “обратный класс” и еще много чего классного😉
        </p>
        <p class="text-container__text">
          Если тебе это откликается — напиши мне
          <a
            tuiLink
            [style.color]="'var(--tui-text-positive)'"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfNk1Qydnrs_aye30rSgGGC2W-2dzjyiXHkofJ3xAl6HW-pkA/viewform?usp=header"
            target="_blank"
            >ОСТАВИТЬ ЗАЯВКУ НА ОБУЧЕНИЕ
          </a>
          Я очень рада новым встречам ✨
        </p>
      </div>
    </div>
  </div>
</section>
