<section class="about">
  <div class="content">
    <div class="paragraph">
      <div class="text-container">
        <h2 class="text-container__heading">{{ 'about.title.first' | translate }}</h2>
        <div>
          <p class="text-container__paragraph">{{ 'about.paragraph.first' | translate }}</p>
        </div>
      </div>
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-2.jpg" alt="Изображение преподавателя" />
      </div>
    </div>
    <div class="paragraph">
      <div class="photo-container">
        <img class="photo-container__photo" src="assets/images/about-3.jpg" alt="Изображение преподавателя" />
      </div>
      <div class="text-container">
        <h2 class="text-container__heading">{{ 'about.title.second' | translate }}</h2>
        <p class="text-container__paragraph">{{ 'about.paragraph.second' | translate }}</p>
        <p class="text-container__paragraph">
          {{ 'about.text.first' | translate }}
          <a
            tuiLink
            [style.color]="'var(--tui-text-positive)'"
            href="https://docs.google.com/forms/d/e/1FAIpQLSfNk1Qydnrs_aye30rSgGGC2W-2dzjyiXHkofJ3xAl6HW-pkA/viewform?usp=header"
            target="_blank"
            >{{ 'about.request.study' | translate }}
          </a>
          {{ 'about.text.second' | translate }}
        </p>
      </div>
    </div>
  </div>
</section>
