.white-theme-background-color {
  background-color: var(--tui-background-base-alt);
}

.header {
  display: flex;
  justify-content: center;
  padding: 0 20px 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
     "photo description"
  ;
  gap: 0 40px;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
}

.photo-container {
  grid-area: photo;
  overflow: hidden;
  width: 100%;
  max-height: 560px;
  object-fit: fill !important;
}

.photo {
  max-width: 100%;
  background-repeat: no-repeat;
}

.description-container {
  grid-area: description;
}

.title {
  font-size: 42px;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 28px;
}

.text {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 1.4rem;
}

.link-container {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 700;
  padding-top: 3rem;
}

.link-container:hover {
  opacity: .8;
}

.link {
  text-decoration: none;
}

.icon {
  margin: 0 .5rem;
}

@media screen and (max-width: 1200px) {
  .content {
    gap: 0 20px;
  }

  .photo-container {
    max-height: 500px;
  }

  .title {
    font-size: 36px;
    padding-bottom: 12px;
  }

  .subtitle {
    font-size: 14px;
    padding-bottom: 24px;
  }

  .text {
    font-size: 17px;
    line-height: 1.3;
    padding-bottom: 18px;
  }

  .link-container {
    font-size: 17px;
    line-height: 1.3;
    font-weight: 700;
    padding-top: 30px;
  }
}

@media screen and (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "photo"
      "description"
    ;
  }

  .photo-container {
    max-height: 440px;
  }

  .title {
    font-size: 28px;
    padding: 0;
    padding: 12px 0;
  }
}
