<section
  class="header"
  [ngClass]="{
    'white-theme-background-color': !(darkMode() === true),
  }"
>
  <div class="content">
    <div>
      <div class="photo-container">
        <img class="photo" src="assets/images/about-1.jpg" alt="Изображение преподавателя" />
      </div>
      <app-summary></app-summary>
    </div>
    <div class="description-container">
      <h1 class="title">{{ 'header.title' | translate }}</h1>
      <p class="subtitle">{{ 'header.withWhom' | translate }}</p>

      <p class="text">
        {{ 'header.paragraph.first' | translate }}
        <ng-container
          *ngTemplateOutlet="requestLinkTemplate; context: { $implicit: 'request.consultation' | translate }"
        ></ng-container>
      </p>
      <p class="text">
        {{ 'header.paragraph.second' | translate }}
        <ng-container
          *ngTemplateOutlet="requestLinkTemplate; context: { $implicit: 'request.study' | translate }"
        ></ng-container>
        {{ 'header.paragraph.third' | translate }}
      </p>
      <p class="text">
        {{ 'header.paragraph.fourth' | translate }}
        <ng-container
          *ngTemplateOutlet="requestLinkTemplate; context: { $implicit: 'request.courses' | translate }"
        ></ng-container>
      </p>
      <p class="text">
        {{ 'header.paragraph.fifth' | translate }}
      </p>
      <p class="text">
        {{ 'header.paragraph.sixth' | translate }}
      </p>
      <p class="text">
        {{ 'header.paragraph.seventh' | translate }}
      </p>
      <p class="text">
        {{ 'header.paragraph.eighth' | translate }}
      </p>
      <p class="text">
        <ng-container
          *ngTemplateOutlet="requestLinkTemplate; context: { $implicit: 'request.ready' | translate }"
        ></ng-container>
      </p>
    </div>
  </div>
</section>

<ng-template #requestLinkTemplate let-text>
  <span class="link-container">
    <a
      class="link"
      tuiLink
      [style.color]="'var(--tui-text-positive)'"
      href="https://docs.google.com/forms/d/e/1FAIpQLSfNk1Qydnrs_aye30rSgGGC2W-2dzjyiXHkofJ3xAl6HW-pkA/viewform?usp=header"
      target="_blank"
      >{{ text }}
    </a>
  </span>
</ng-template>
