<div class="header">
  <div class="content">
    <div class="photo-container">
      <img class="photo" src="assets/images/tutor.jpg" alt="Изображение преподавателя">
    </div>

    <div class="description-container">
      <h1>Эффективная подготовка к экзаменам по русскому языку и литературе</h1>
      <p>с Оксаной Ласковской</p>
      <p>Мини-группы по подготовке к экзаменам по русскому языку и литературе. Только для 9, 10 и 11 классов.
        Стабильно, эффективно, надёжно, комфортно, в хорошей компании единомышленников.
        Наша цель — знания, и мы их старательно укрепляем, поэтому сдадим экзамены при любых обстоятельствах.</p>
    </div>
  </div>
</div>
