.header {
  display: flex;
  justify-content: center;
  padding: 0 20px 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 560px;
  grid-template-areas:
     "photo description"
  ;
  gap: 0 40px;
  width: 100%;
  max-width: 1200px;
  min-width: 320px;
}

.photo-container {
  grid-area: photo;
  overflow: hidden;
  width: 100%;
  height: 100%;
  object-fit: fill !important;
}

.photo {
  max-width: 100%;
  background-repeat: no-repeat;
}

.description-container {
  grid-area: description;
}

.title {
  font-size: 42px;
  padding-bottom: 1rem;
}

.subtitle {
  font-size: 16px;
  font-weight: 300;
  padding-bottom: 28px;
}

.text {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 1.4rem;
}

.link-container {
  font-size: 20px;
  line-height: 1.55;
  font-weight: 700;
  padding-top: 3rem;
}

.link-container:hover {
  opacity: .8;
}

.link {
  text-decoration: none;
}

.icon {
  margin: 0 .5rem;
}
