.white-theme-background-color {
  background-color: var(--tui-background-base-alt);
}

.header {
  display: flex;
  justify-content: center;
  min-width: 320px;
  box-sizing: border-box;
  padding: 0 20px 0;
}

.content {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: min-content;
  grid-template-areas:
     "photo description"
  ;
  gap: 0 40px;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.photo-container {
  grid-area: photo;
  overflow: hidden;
  width: 100%;
  object-fit: fill !important;
}

.photo {
  max-width: 100%;
  background-repeat: no-repeat;
}

.description-container {
  grid-area: description;
  box-sizing: border-box;
}

.title {
  font: var(--tui-font-heading-3);
  padding-bottom: 1rem;
}

.subtitle {
  font: var(--tui-font-text-xl);
  font-weight: 300;
  padding-bottom: 28px;
}

.text {
  font: var(--tui-font-text-xl);
  line-height: 1.55;
  font-weight: 300;
  padding-bottom: 1.4rem;
}

.link-container {
  font: var(--tui-font-text-xl);
  line-height: 1.55;
  font-weight: 700;
}

.link-container:hover {
  opacity: .8;
}

.link {
  text-decoration: none;
}

.icon {
  margin: 0 .5rem;
}

@media screen and (max-width: 950px) {
  .content {
    gap: 0 20px;
  }

  .title {
    font: var(--tui-font-heading-4);
    padding-bottom: 12px;
  }

  .subtitle {
    font: var(--tui-font-text-l);
    padding-bottom: 24px;
  }

  .text {
    font: var(--tui-font-text-l);
    line-height: 1.3;
    padding-bottom: 18px;
  }

  .link-container {
    font: var(--tui-font-text-l);
    line-height: 1.3;
    font-weight: 700;
  }
}

@media screen and (max-width: 700px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: min-content;
    grid-template-areas:
      "photo"
      "description"
    ;
  }

  .photo-container {
    max-height: 500px;
  }

  .title {
    font: var(--tui-font-heading-5);
    padding: 0;
    padding: 12px 0;
  }
}
