<section
  class="header"
  [ngClass]="{
    'white-theme-background-color': !(darkMode() === true),
  }"
>
  <div class="content">
    <div class="photo-container">
      <img class="photo" src="assets/images/about-1.jpg" alt="Изображение преподавателя" />
    </div>
    <div class="description-container">
      <h1 class="title">
        НЕМЕЦКИЙ ДЛЯ ЖИЗНИ И РАБОТЫ, эффективная подготовка к экзаменам и тестам, разговорная практика и ещё много
        полезного
      </h1>
      <p class="subtitle">с Мариной Филипцовой</p>

      <p class="text">
        Индивидуальные консультации и занятия в мини-группах для начинающих и продолжающих учить немецкий язык
      </p>
      <p class="text">
        Спецкурсы “Deutsch für den Beruf” по следующим направлениям: медицина, информатика (IT-технологии), менеджмент,
        преподавание и психология
      </p>
      <p class="text">
        Подготовка к экзаменам: Start Deutsch/ telc Deutsch, DTZ (Deutsch-Test für Zuwanderer), telc Deutsch + Beruf,
        Zertifikat Deutsch, TestDaF
      </p>
      <p class="text">
        Постановка правильного произношения: спецкурсы по фонетике немецкого языка, индивидуальные консультации
      </p>
      <p class="text">
        Наставничество для преподавателей: помогаем расти профессионально, консультируем по методикам, преподавательским
        навыкам, стратегиям развития
      </p>
      <p class="text">
        Разбор жизненных ситуаций: переезд, работа/ учёба в Германии Ausbildung, интеграция в новой стране, поиск
        мотивации для решения жизненных задач, работа с целями, разбор личных ситуаций
      </p>
      <div class="link-container">
        <a
          class="link"
          tuiLink
          [style.color]="'var(--tui-text-positive)'"
          href="https://docs.google.com/forms/d/e/1FAIpQLSfNk1Qydnrs_aye30rSgGGC2W-2dzjyiXHkofJ3xAl6HW-pkA/viewform?usp=header"
          target="_blank"
          >Запишитесь на бесплатную консультацию</a
        >
        <tui-icon class="icon" icon="@tui.move-right" [style.color]="'var(--tui-text-positive)'"></tui-icon>
      </div>
    </div>
  </div>
</section>
