.results {
  display: flex;
  justify-content: center;
  padding: 0 20px 80px;
  min-width: 320px;
  box-sizing: border-box;
}

.content {
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;
}

.heading {
  font: var(--tui-font-heading-2);
  padding: 80px 0 50px;
  width: 100%;
  text-align: center;
}

.sub-heading {
  font: var(--tui-font-heading-5);
  font-weight: 400;
  text-align: center;
  padding-bottom: 20px;
}

.items-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(500px, 1fr));
  gap: 30px;
  justify-items: center;
}

.item {
  position: relative;
  width: 100%;
}

.wrapper {

  &__text {
    font: var(--tui-font-text-m);
    z-index: 2;
  }
}

@media screen and (max-width: 950px) {
  .results {
    padding: 0 20px 20px;
  }
}

@media screen and (max-width: 700px) {
  .heading {
    font: var(--tui-font-heading-4);
  }

  .sub-heading {
    font: var(--tui-font-heading-6);
  }

  .items-container {
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    gap: 16px;
  }

  .wrapper {
    &__text {
      font: var(--tui-font-text-m);
    }
  }
}
