.white-theme-background-color {
  background-color: var(--tui-background-base-alt);
}

.menu {
  display: flex;
  justify-content: center;
  padding: 50px 20px;
  min-width: 320px;
  box-sizing: border-box;
}

.content {
  display: flex;
  justify-content: space-between;
  width: 100%;
  max-width: 1200px;
  box-sizing: border-box;

  .language {
    display: flex;
    gap: 4px;
  }
}

.theme-icon {
  cursor: pointer;
}

@media screen and (max-width: 950px) {
  .menu {
    padding: 20px 20px;
  }
}
